._5e434347c823b592-container {
    /* windows bar shrunk + removed server title */
    .c38106a3f0c3ca76-bar {
        grid-template-rows: [top] 0 [titleBarEnd] 28px [noticeEnd] 1fr [end];
        .c38106a3f0c3ca76-trailing svg{
            height: 18px !important;
        }
        .c38106a3f0c3ca76-title{
            display: none;
        }
        ._85643a485899904b-button, .c99c29809d200a61-clickable, .edefb8e22d63c542-anchor, .vc-toolbox-btn, .c38106a3f0c3ca76-winButtons {
            min-height: 28px !important;
            height: 28px !important;
        }
    }
    ul[data-list-id="guildsnav"]
        > div.itemsContainer_ef3116
        > div.stack_dbd263 {
        margin-top: 25px;
    }
._5e434347c823b592-content ._5e434347c823b592-sidebar ._5e434347c823b592-panels{
    border-radius: 10px;
    border-bottom-left-radius: 5px;
    border: 2px solid var(--background-modifier-accent);
    border-bottom: 1px;
    padding: 0;
    width: 99%;
    left: 2px;
    bottom: 5px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    ._37e49614b9f110a9-buttons {
        width: fit-content;
    }
    /* voice connect panel */
    .e131a99484292a19-wrapper{
        grid-row: 3;
        .e131a99484292a19-container{
            padding-bottom: 3px;
            ._06d6249a1f2584ac-rtcConnectionStatusWrapper{
                .cf48127484dbde85-text-md\/medium{
                    font-size: 13.5px;
                }
                ._4bd5201c86a2042b-lineClamp1.cf48127484dbde85-text-xs\/medium{
                    font-size: 12.5px;
                }
                p{
                    font-size: 11px;
                }
            }
            .e131a99484292a19-voiceButtonsContainer{
                gap: 12px;
                margin-right: 3px;
            }
            .e131a99484292a19-actionButtons {
                margin-right: 3px;
                gap: 12px;
                .e131a99484292a19-button{
                    height: 26px;
                    min-height: 26px;
                }
            }
        }
    }
    /* game activity panel */
    ._5e434347c823b592-activityPanel{
        padding: 3px 8px;
        .cf48127484dbde85-text-md\/medium{
            font-size: 14px;
        }
        ._4cd01ae64b7d5abc-panelButtonContainer{
            width: fit-content;
            margin-right: 3px;
        }
    }
    /* profile/control panel */
    ._37e49614b9f110a9-container{
        border-bottom: 2px solid var(--background-modifier-accent);
        grid-row: 4;
        padding: 6px var(--space-xs) 6px;
        ._37e49614b9f110a9-buttons{
            gap: 12px;
            margin-right: 4px;
        }
    }
    /* spotify addon */
    #vc-spotify-player{
        position: relative;
        background: var(--bg-overlay-4, var(--background-base-lowest));;
        border-bottom: 2px solid var(--background-surface-high);
        border-radius: 15px;
        padding: .375rem 11px;
        grid-row:1;
        .grabber_a562c8{
            margin: -8px 0 0 -1px;
        }
        .vc-spotify-button-row{
            opacity: 0;            
        }
        
    }
    #vc-spotify-player:hover{
        transition: height .2s .1s ease-in-out;
        .vc-spotify-button-row{
            opacity: 1;
            transition: opacity .1s .1s ease-in-out;
        }
    }
    @media(max-height: 700px){
        #vc-spotify-player{
            padding: .375rem 11px 2px;
            #vc-spotify-info-wrapper{
                height: 1.75em;
                img {
                display: none;
                }
                #vc-spotify-titles{
                    flex-direction: row;
                    flex-grow: 1;
                    padding: 0;
                    justify-content: center;
                    gap: 8px;
                    #vc-spotify-song-title{
                        margin-top: -1px;
                    }
                    >div{
                        max-width: max-content;
                    }
                    > div + div + div{
                        display: none;
                    }
                    
                } 
            }
            #vc-spotify-progress-bar{
                margin: 4px 0;
                height: 10px;
                .vc-spotify-progress-time{
                    display: none;
                }
                
            }
        }
    }

}
/* server list left icons */
.ef3116c2da186559-wrapper._5e434347c823b592-guilds {
    margin-bottom: 2px;
    .e5445cbd3ad226f2-pill {
        transform: translateX(8px);
    }
    > ul{
    /* scaled due to how difficult it was to undo redundant code */
    transform: scale(1.25) translate(0px, 10%);
    box-sizing: border-box;
    max-height: calc(100%/1.25);
    padding-bottom: calc(var(--custom-app-panels-height)/1.25);
    
    /* roundness go up*/
    foreignObject{
        --border-radius-icon: 20px;
        border-radius: var(--border-radius-icon);
        .closedFolderIconWrapper__48112{
            .icon_f34534:nth-child(1){
                border-top-left-radius: var(--border-radius-icon) !important;
            }
            .icon_f34534:nth-child(2){
                border-top-right-radius: var(--border-radius-icon) !important;;
            }
            .icon_f34534:nth-child(3){
                border-bottom-left-radius: var(--border-radius-icon) !important;;
            }
            .icon_f34534:nth-child(4){
                border-bottom-right-radius: var(--border-radius-icon) !important;;
            }
        }
    }
        foreignObject:hover{
            border-radius: 8px;
            transition: all ease-in-out 0.2s;
        }
        .unreadMentionsIndicatorTop_ef3116{
            transform: scale(0.8);
        }
    }
}
/* member list right sidebar */
main ~ .c8ffbb79449f399c-container{
    width: 230px;
    --custom-member-list-width: 225px;
    .content__99f8c > div{
        margin-left: 2px;
    }
}

/* chat input */
    .f75fb00fb7356cbe-form {
        margin: 0 8px 7px 8px;
        padding: 0;
        --chatbar-border-color: var(--border-faint);
    }
    .f75fb00fb7356cbe-channelTextArea {
        margin: 0;
        border-color: var(--chatbar-border-color);
        transition: none;
    }
    .b8880176888cc928-base {
        top: -25px;
        left: 0;
        right: 0;
        background: var(--bg-overlay-chat,var(--background-primary));
        padding: 0 8px;
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        border: 1px solid var(--chatbar-border-color);
        border-bottom: none;
        transition: none;
    }
    .stackedBars__74017,
    .threadSuggestionBar__841c8 {
        border-color: var(--chatbar-border-color) !important;
    }
    .f75fb00fb7356cbe-form:has(.b8880176888cc928-base) {
        .channelTextArea_f75fb0 {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }
    }
    .f75fb00fb7356cbe-form:has(._740174f3d6a2c8fe-channelTextArea:focus-within) {
        --chatbar-border-color: var(--border-subtle);
    }
    ._36d072eab2b2e737-scrollerSpacer {
        height: calc(25px + 8px);
    }
    ._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
        margin-bottom: calc(21px + 8px);
    }
}
/* IDEA: SWAPPABLE VC CHAT CHANNEL. WILL NEED DISCORD API/JS TO BE ABLE TO CALL */
/* the channel: chatLayerWrapper__01ae2 */
/* channel header (want to turn into dropdown): container__9293f themed__9293f */