.visual-refresh {
    /* windows bar shrunk + removed server title */
    div.base_c48ade {
        grid-template-rows: [top] 0 [titleBarEnd] 28px [noticeEnd] 1fr [end];
        .button__85643 svg{
            height: 18px !important;
        }
        .title_c38106{
            display: none;
        }
        .bar_c38106, .trailing_c38106, .winButton_c38106, .button__85643 {
            min-height: 28px !important;
            height: 28px !important;
        }
    }
    ul[data-list-id="guildsnav"]
        > div.itemsContainer_ef3116
        > div.stack_dbd263 {
        margin-top: 25px;
    }


/* profile section */
.content_c48ade .sidebar_c48ade .panels_c48ade{
    border-radius: 10px;
    border-bottom-left-radius: 5px;
    border: 2px solid var(--background-modifier-accent);
    padding: 0;
    width: 99%;
    left: 2px;
    bottom: 4px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    .button__67645 {
        width: fit-content;
    }

    /* voice connect panel */
    .wrapper_e131a9{
        grid-row: 3;
        .container_e131a9{
            padding-bottom: 3px;
            .rtcConnectionStatusWrapper__06d62{
                .text-md\/medium_cf4812{
                    font-size: 13.5px;
                }
                .lineClamp1__4bd52.text-sm\/medium_cf4812{
                    font-size: 12.5px;
                }
                p{
                    font-size: 11px;
                }
            }
            .voiceButtonsContainer_e131a9{
                gap: 12px;
                margin-right: 3px;
            }
            .actionButtons_e131a9 {
                margin-right: 3px;
                gap: 12px;
                .button__201d5{
                    height: 26px;
                    min-height: 26px;
                }
            }
        }
    }
    /* game activity panel */
    .activityPanel_c48ade{
        padding: 3px 8px;
        .text-sm\/medium_cf4812{
            font-size: 13px;
        }
        .panelButtonContainer__4cd01{
            width: fit-content;
            margin-right: 3px;
        }
    }
    /* profile/control panel */
    .container__37e49{
        border-bottom: 2px solid var(--background-modifier-accent);
        grid-row: 4;
        padding: 6px var(--space-xs) 6px;
        .buttons__37e49{
            gap: 12px;
            margin-right: 4px;
        }
    }
    /* spotify addon */
    #vc-spotify-player{
        position: relative;
        background: var(--bg-overlay-4, var(--background-base-lowest));;
        border-bottom: 2px solid var(--background-surface-high);
        border-radius: 15px;
        padding: .375rem 11px;
        grid-row:1;
        .grabber_a562c8{
            margin: -5px 0 0 -1px;
        }
        .vc-spotify-button-row{
            opacity: 0;            
        }
        
    }
    #vc-spotify-player:hover{
        transition: height .2s .1s ease-in-out;
        .vc-spotify-button-row{
            opacity: 1;
            transition: opacity .1s .1s ease-in-out;
        }
    }
    @media(max-height: 767px){
        #vc-spotify-player{
            padding: .375rem 11px 2px;
            #vc-spotify-info-wrapper{
                height: 1.75em;
                img {
                display: none;
                }
                #vc-spotify-titles{
                    flex-direction: row;
                    flex-grow: 1;
                    padding: 0;
                    justify-content: center;
                    gap: 8px;
                    >div{
                        max-width: max-content;
                    }
                    > div + div + div{
                        display: none;
                    }
                } 
            }
            #vc-spotify-progress-bar{
                margin: 4px 0;
                height: 10px;
                .vc-spotify-progress-time{
                    display: none;
                }
                
            }
        }
    }

}
/* server list left icons */
.wrapper_ef3116.guilds_c48ade {
    margin-bottom: 2px;
    .pill_e5445c {
        transform: translateX(8px);
    }
    > ul{
    /* scaled due to how difficult it was to undo redundant code */
    transform: scale(1.25) translate(0px, 10%);
    box-sizing: border-box;
    max-height: calc(100%/1.25);
    padding-bottom: calc(var(--custom-app-panels-height)/1.25);
    
    /* roundness go up*/
    foreignObject{
        --border-radius-icon: 20px;
        border-radius: var(--border-radius-icon);
        .closedFolderIconWrapper__48112{
            .icon_f34534:nth-child(1){
                border-top-left-radius: var(--border-radius-icon) !important;
            }
            .icon_f34534:nth-child(2){
                border-top-right-radius: var(--border-radius-icon) !important;;
            }
            .icon_f34534:nth-child(3){
                border-bottom-left-radius: var(--border-radius-icon) !important;;
            }
            .icon_f34534:nth-child(4){
                border-bottom-right-radius: var(--border-radius-icon) !important;;
            }
        }
    }
        foreignObject:hover{
            border-radius: 8px;
            transition: all ease-in-out 0.2s;
        }
        .unreadMentionsIndicatorTop_ef3116{
            transform: scale(0.8);
        }
    }
}
/* member list right sidebar */
main ~ .container_c8ffbb{
    width: 230px;
    --custom-member-list-width: 225px;
    .content__99f8c > div{
        margin-left: 2px;
    }
}

/* 'now typing' above text field */
    .form_f75fb0 {
        margin: 0 8px 8px 8px;
        padding: 0;
        --chatbar-border-color: var(--border-faint);
    }
    .channelTextArea_f75fb0 {
        margin: 0;
        border-color: var(--chatbar-border-color);
        transition: none;
    }
    .base_b88801 {
        top: -25px;
        left: 0;
        right: 0;
        background: var(--bg-overlay-floating,var(--chat-background-default));
        padding: 0 8px;
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        border: 1px solid var(--chatbar-border-color);
        border-bottom: none;
        transition: none;
    }
    .stackedBars__74017,
    .threadSuggestionBar__841c8 {
        border-color: var(--chatbar-border-color) !important;
    }
    .form_f75fb0:has(.base_b88801) {
        .channelTextArea_f75fb0 {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }
    }
    .form_f75fb0:has(.channelTextArea__74017:focus-within) {
        --chatbar-border-color: var(--border-subtle);
    }
    .scrollerSpacer__36d07 {
        height: calc(25px + 8px);
    }
    .scroller__36d07::-webkit-scrollbar-track {
        margin-bottom: calc(21px + 8px);
    }
    .bottomBar__0f481 {
        margin-bottom: 25px;
    }
}